@import "imports/variables.css";

/*Contact*/

img {
    max-width: 100%;
}

.visit-section-one {
    gap: 0px;
}

.visit-section-two {
    gap: 60px;
}

.contact-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-style: none;
  }

  .contact-sub-grid-one {
      display: grid;
      grid-template-columns: 1fr 1fr;
      ga: 50px;
  }

  .contact-sub-grid-two {
      display: grid;
      grid-template-columns: 1fr;
  }

 .margin-one {
    margin-bottom: 18px;
 }

 .margin-two {
    margin-top: 20px;
    margin-bottom: 18px;
 }

  .contact_container h1 {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
    input {
        background: #F5F5F5;
        border-color: #eeeeee;
    }

    label {
    display: inline-block;
    margin-bottom: 0px;
    height: 0px;
  }
  
  .contact_container p {
    line-height: 2.2em;
  }
  
  textarea {
    height: 220px;
    width: 100%;
    background: #F5F5F5;
  }

    main input {
      height: 50px;
      width: 100%;
  }

  .center-button {
      margin-left: auto;
      margin-right: auto;
  }

  .grey-background {
      background: var(--background-styling);
      color: var(--white-text);
      padding: 10px 30px 20px 30px;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .margin-first-name {
      margin-right:20px;
  }

.margin-last-name {
    margin-left:20px;
}

.margin-top-contact {
    height: 970px;
}

.cta-button-two {
    width: none;
}



