    /*Images and banners*/    
    
    .top-image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .banner-desktop-two {
        display: none;
    }

    /*Icons*/

    .calendar-icon {
        width: 25px;
        margin-left: 5px;
    }

    h2 {
        font-family: "Bungee Inline";
        font-style: normal;
        font-weight: normal;
        font-size: 1.8em;
        font-weight: 400;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    
    .text-decoration {
        text-decoration: none;
        font-size: 1.5em;
    }
    
    h3 {
        text-decoration: underline;
    }
    
    .line-height {
        line-height: 2.5em;
    }
    
    
    /*Explore section homepage*/
    
    .explore-section-events-page img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 525px;
    }
    
    .image-border-one {
        border-color: #03648E;
    }
    
    .image-border-two {
        border-color: #507B00;
    }
    
    .image-border-three {
        border-color: #B16220;
    }
    
    .image-border-one, .image-border-two, .image-border-three {
        border-style: solid;
        border-width: 1px;
    }
    
    .young-person-styling {
        background: #03648E;
       
    }
    
    .teacher-styling {
        background: #507B00;
    }
    
    .scientist-styling {
        background: #B16220;
    }
    
    .margin {
        margin-bottom: 30px;
        margin-left: 8.9%;
        margin-right: 8.9%;    
    }
    
    /*Events section homepage*/
    
    .events-section-events-page {
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
    
        .image-width {
        width: 100%;
        display: block;
        }
    
    .events-styling, .exhibitions-styling {
        background: #434343;
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 0.9em;
        font-weight: 700;
        line-height: 1.9;
        color: #fff;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1px;
        padding-bottom: 50px;
    }
    
    
    /*Exhibitions section homepage*/
    
    .exhibitions-events-page-one, .exhibitions-events-page-two {
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
    
    /*Center text in explore paragraphs home*/
    
    .center-paragraph-one {
        margin-left: auto;
        margin-right: auto;
    }
    
    .center-paragraph-two {
        margin-left: auto;
        margin-right: auto;
    }
    
    .center-paragraph-three {
        margin-left: auto;
        margin-right: auto;
    }
    
    .text-align {
        text-align: left;
    }
    .explore-section-events-page {
        text-align: center;
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
        margin-top: 70px;
    }
       
    .text-decoration-two {
        text-decoration: none;
        padding-top: 20px;
    }
     
    a {
        color: #fff;
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-weight: 400;
        font-size: 3.3vw;
    }

    /*Newsletter*/

.h2-top-margin {
    margin-bottom: 30px;
}