@import "imports/variables.css";
    
    /*Images and banners*/    
    
    .top-image {
        width: 100%;
        margin: auto;
        display: block;
    }

    .banner-desktop-two {
        display: none;
    }

    /*Icons*/

    .calendar-icon {
        width: 25px;
        margin-left: 5px;
    }

    h2 {
        font-size: 1.8em;
        font-weight: 400;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    
    .text-decoration {
        text-decoration: none;
        font-size: 1.5em;
    }
    
    h3 {
        text-decoration: underline;
    }
    
    .line-height {
        line-height: 2.5em;
    }
    
    
    /*Explore section*/
    
    .explore-section-events-page img {
        width: 100%;
        margin: auto;
        max-width: 525px;
    }
    
    .image-border-one {
        border-color: var(--young-person-color);
    }
    
    .image-border-two {
        border-color: var(--teacher-color);
    }
    
    .image-border-three {
        border-color: var(--scientist-color);
    }
    
    .image-border-one, .image-border-two, .image-border-three {
        border-style: solid;
        border-width: 1px;
    }
    
    .young-person-styling {
        background: var(--young-person-color);
    }
    
    .teacher-styling {
        background: var(--teacher-color);
    }
    
    .scientist-styling {
        background: var(--scientist-color);
    }
    
    .margin {
        margin-bottom: 30px;
        margin-left: 8.9%;
        margin-right: 8.9%;    
    }
    
    /*Events and exhibitions section*/
    
    .events-section-events-page, .exhibitions-events-page-one, .exhibitions-events-page-two {
        max-width: 525px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
    
    .image-width {
        width: 100%;
        display: block;
    }
    
    .events-styling, .exhibitions-styling {
        background: var(--background-styling);
        font-size: 0.9em;
        font-weight: 700;
        line-height: 1.9;
        color: var(--white-text);
        text-align: center;
        margin: auto;
        padding-top: 1px;
        padding-bottom: 50px;
    }
     
    /*Center text in explore paragraphs*/
    
    .center-paragraph-one, .center-paragraph-two, .center-paragraph-three {
        margin: auto;
    }
        
    .text-align {
        text-align: left;
    }
    .explore-section-events-page {
        text-align: center;
        max-width: 525px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
        margin-top: 70px;
    }
       
    .text-decoration-two {
        text-decoration: none;
        padding-top: 20px;
    }
     
    a {
        color: var(--white-text);
        font-weight: 400;
        font-size: 3.3vw;
    }

    .font-size-links {
        font-weight: 700;
        font-size: 3.7vw;
    }

    /*Newsletter*/

    .h2-top-margin {
        margin-bottom: 30px;
    }