@media only screen and (min-width: 376px) {
    
    .headline {
    font-size: 7.5vw;
    }

    .grey-text-box {
        font-size: 4vw;
    }
    
    /*Social media*/
    
    .media-icons {
        width: 9.7vw;
    }

    .h3-visit-info {
        font-size: 4.2vw;  
    }
    .visit-info-one {
        font-size: 3.2vw;
    }
     
    .visit-info-two {
        font-size: 3.2vw;
    }

    .text-decoration {
            font-size: 4.8vw;
    }
        
    .learn-more-button {
        font-size: 3.5vw;    
    }

    /*Explore section home*/

    .young-person-styling, .teacher-styling, .scientist-styling {
        font-size: 3.8vw;
    }

.learn-more-button-two {
    font-size: 4vw;
}

    .text-decoration-two {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 526px) {
   
.headline {
    font-size: 2.5em;
}

    .grey-text-box {
        padding: 44px 2px 44px 41px;
    }
    
    .social-media {
        grid-template-columns: repeat(6, 57px);
    }

    .visit-info-grid {
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
    }
    .grey-text-box {
        font-size: 1.31em;
    }

    .h3-visit-info {
        font-size: 1.38em;  
    }
   
   .visit-info-one {
        font-size: 1.052em;
    }

    .visit-info-two {
        font-size: 1.052em;
    }

   .text-decoration {
            font-size: 1.578em;
    }
       
    .learn-more-button {
        font-size: 1.15em;    
    }

    /*Social media*/
    
    .media-icons {
        width: 3.188em;
    }

  /*Explore section home*/

  .young-person-styling, .teacher-styling, .scientist-styling {
    font-size: 1.25em;
}

.learn-more-button-two {
font-size: 1.05em;
}

.text-decoration-two {
    font-size: 1.3em;
}
}

@media only screen and (min-width: 729px) {
    
    .headlin {
        font-size: 3.41em;
    }

    .visit-info-two {
        justify-content: center;
        ga: 50px;
    }
}

@media only screen and (min-width: 1050px) {

    .headline {
    font-size: 3.5em;
    text-align: center;
    background: #F9F5ED;
    max-width: 100%;
}


.banner-mobile {
    display: none;
}

.banner-tablet {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grey-text-box {
    max-width: 490px;
    font-size: 1.4em;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(124, 124, 124);
}

.padding-grey-text-box {
    background: #434343;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 235px;
    padding-top: 15px;
}

.visit-info-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    max-width: 728px;
    padding-left: 150px;
    padding-right: 150px;
}

    .explore-section-home {
        max-width: 100%;
        max-height: 420px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-top: 70px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1366px) {
 
     .headline {
        font-size: 2.5em;
        background: #F9F5ED;
        text-align: center;
    }

.margin-left {
    margin-left: 53px;
    margin-right: 10px;
}
    
    .headline-social-grid {
        display: grid;
        grid-template-columns: 1fr 5fr 1.2fr;
        gap: 20px;
        background: #F9F5ED;
        justify-content: center;
    }
    .banner-mobile {
        display: none;
    }

    .banner-tablet {
        display: none;
    }

    .banner-desktop {
        width: 100%;
        display: block;
    }

    .grey-text-box {
        margin-left: 0px;
    }

    .visit-info-grid {
        display: grid;
        grid-template-column: 60% 40%;
        max-width: 490px;
        margin: 0px;
        padding-bottom: 0px;
        border-style: none;
        heigh: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 0.7em;
    }

    .visit-info-two {
        padding-right: 45px;
        padding-bottom: 1px;
    }

.visit-info-one, .visit-info-two {
    padding-top: 0px;
}

    .padding-grey-text-box {
        background: #ffffff;
        heigh: 0px;
        padding-top: 0px;
    }

    .social-media {
        display: none;
    }

    .media-icons-two {
        display: unset;
        margin-top: 36px;
        width: 36px;
        padding: 5px;
        
    }

    .explore-section-home {
        height: 0px;
    }

/*Explore section home*/

.young-person-styling, .teacher-styling, .scientist-styling {
    font-size: 0.75em;
    height: 170px;
}

.center-paragraph-three {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.learn-more-button-two {
font-size: 0.875em;
}

.text-decoration-two {
    font-size: 1.125em;
}

/*First grid line desktop version*/

.grid-one-desktop {
   display: grid;
   grid-template-columns: 466px 900px;
   gap: 10px;
   max-width: 1336px;
   align-self: start;
   
}

.image-border-one, .image-border-two, .image-border-three {
    height: 300px;
}

.margin-top {
    margin-top: 0px;
}

}