@import "imports/variables.css";

body {
  font-family: "Inter";
  font-style: normal;
}

h1, h2 {
  font-family: "Bungee Inline";
}

/*Navigation menu*/

.container-one {
    display: flex;
}
   
.hamburger-item {
    margin-left: auto;
}

.logo {
    width: 180px;
    margin-top: 5px;
}

.hamburger-icon {
    width: 35px;
    margin-top: 12px;
    margin-right: 12px;
}

nav,
#hamburger-menu {
  display: none;
}

nav a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 0.87em;
  font-weight: 800;
  text-align: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(189, 189, 189);
  padding: 20px;  
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  background: var(--white-background);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 72px;
  width: auto;
}

.current-page {
  text-decoration: underline;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

h3 {
  font-weight: 700;
  font-size: 1.31em;
  margin-bottom: 0px; 
}

span {
  font-weight: 700;
}

.font-type {
  
  line-height: 1.9;
}

.text-align-left {
  text-align: left;
}

/*Explore section styling*/

.young-person-styling, .teacher-styling, .scientist-styling {
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.9;
  color: var(--white-text);
  padding-bottom: 50px;
}

/*Newsletter*/

.newsletter-icon {
  width: 40px;
  margin-bottom: -6px;
  margin-left: 10px;
}

.cta-button {
  font-size: 0.9em;
  font-weight: 700;
  background: var(--background-styling);
  color: var(--white-text);
  border-radius: 10px;
  width: 130px;
}

.cta-button-two {
  font-size: 0.9em;
  font-weight: 700;
  background: var(--background-styling);
  color: var(--white-text);
  border-radius: 10px;
  padding: 15% 25% 15% 25%;
}

.newsletter-input {
  height: 93%;
  width: 100%;
}

.newsletter-grid {
  display: grid;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  font-size: 4.1vw;
}

.center-subscribe-button {
  margin-left: auto;
  margin-right: auto;
}

.newsletter-sub-grid-one {
  display: grid;
}

.newsletter-sub-grid-two {
  display: grid;
  gap: 0px;
  grid-template-columns: 60% 40%;
}

.newsletter-background {
  background: var(--newsletter-background);
  width: 100%;
}

.newsletter-margin-top {
  margin-top: 100px
}

.small-font-newsletter {
  font-size: 3.1vw; 
}