 /*Footer*/
 footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 50px;
  }
  
  .footer-sub-grid-one {
    display: grid;
    grid-template-columns: 68% 10%;
    gap: 100px;
    margin-top: 70px;
  }
  
  .footer-sub-grid-two {
    display: grid;
    justify-content: center;
  }
  
  .footer-text-grid, .footer-icons-grid {
    display: grid;
  }
  
  .footer-text-grid {
    font-weight: 700;
    grid-template-columns: repeat(6, 150px);
    gap: 0px;
  }
  
  .footer-icons-grid {
  grid-template-columns: repeat(6, 40px);
  gap: 20px;
  }
  
  .footer-icons-grid img {
    width: 40px;
  }